@use "variable" as f;

.header{
  position: fixed;
  background-color:f.$bgc1;
  width: 100%;
  height: 60px;
  top:0;
	left:0;
  z-index: 10;
  &_wrap{
    @include f.wrap;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &_title{
    font-size: 28px;
    color: f.$fc1;
      &s{
    display: flex;
    }
    &_sub{
      color: f.$fc1;
      font-size: 18px;
    transform: translateY(35%);
    }
  }
}



// ハンバーガーメニュー
.other{
  color:f.$fc1;
  align-items: center;
  font-size: 22px;
  & a{
    margin-right: 16px;
    &:last-child{
      margin-right: 0;
    }
  }
  &_menu{
    display: none;
  }
  &_trigger{
    position: absolute;
    right: 10px;
    top: 50%;
    transform:translateY(-50%);
    transition: all 0.4s;
    width:30px;
    height: 20px;
    z-index: 100;
    display: none;
    & span{
      display: inline-block;
      transition: all 0.4s;
      position: absolute;
      width: 100%;
      height:2px;
      background: f.$fc1;
      &:nth-of-type(1){
        top:0;
      }
      &:nth-of-type(2){
        top:50%;
        transform: translateY(-50%);
      }
      &:nth-of-type(3){
        bottom:0;
      }
    }
    &.is_active{
      & span:nth-of-type(1){
        transform: translateY(9px) rotate(-315deg);
      }
      & span:nth-of-type(2){
        opacity: 0;
      }
      & span:nth-of-type(3){
        transform: translateY(-9px) rotate(315deg);
      }
    }
  }
}


.footer{
  background-color:f.$bgc1;
  width: 100%;
  height: 128px;
  font-size: 24px;
  color: f.$fc1;
  &_wrap{
    @include f.wrap;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// レスポンシブ
@media screen and (max-width:1066px) {
  .header{
    width: 100vw;
    &_wrap{
      @include f.wrapsp;
    }
    &_title_other{
      font-size: 20px;
      line-height: 80px;
      color: f.$fc1;
      &_sub{
        font-size: 15px;
        color: f.$fc1;
       line-height: 86px;
      }
    }
  }
  .footer{
    width: 100vw;
    &_wrap{
      @include f.wrapsp;
    }
  }
}

@media screen and (max-width:768px) {


  .header_title{
    font-size: 20px;
    &_sub{
      font-size: 13px;
    }
  }

  .other{
    position: fixed;
    align-items: start;
    top: 0;
    left: 100%;
    width: 70%;
    background-color: rgb(255, 153, 0);
    transition: all 0.4s;
    &.is_active{
      left: 30%;
    }
    &_cover{
      position: fixed;
      width: 0;
      height: 60px;
      top: 0;
      left: 100%;
      background-color: rgba(207, 207, 207, 0.95);
      transition: all 0.4s;
      &.is_active{
        left: 0;
        width: 100%;
        height: 100vh;
      }
    } 
    &_menu{
      display: block;
    }
    &_nav{
      width: 100%;
      height: 60px;
      line-height: 60px;
      border-bottom: 1px  solid #000;
      text-align: center;
      align-items: center;
    }
    &_menu_logo{
      display: flex;
      height: 60px;
      border-bottom: 1px  solid #000;
    }
    &_trigger{
      display: block;
    }
  }

}