body{
    background-color: #F5F3EF;
}
.header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}
.m-btn{
    position: absolute;
    width: 112px;
    height: 56px;
    font-size: 24px;
    top: 40px;
    right: 24px;
    padding: 20px 0;
    background: #000;
	color: #fff;
    line-height: 20px;
    cursor: pointer;
    z-index: 3;
    opacity: 1;
    transition: all 0.4s;
    &.is-active{
        display: none;
        opacity: 0;
    }
}
.cle-btn{
    position: absolute;
    width: 112px;
    height: 56px;
    font-size: 24px;
    top: 40px;
    right: 24px;
    padding: 20px 0;
    background: #fff;
	color: #000;
    line-height: 20px;
    cursor: pointer;
    z-index: 20;
    opacity: 0;
    transition: all 0.4s;
    display: none;
    &.is-active{
        opacity: 1;
        display: block;
    }
}
.menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 100%;
    background: #000;
    height: 100vh;
    z-index: 10;
    transition: all 0.4s;
    &.is-active{
        padding: 128px;
        left: 0;
    }
    &-list {
        position: absolute;
        color: #fff;
        font-size: 128px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        & li{
            position: relative;
            margin: auto;
            padding-bottom: 16px;
            &:last-child{
                padding-bottom: 0;
            }
            & span{
                background: #fff;
                width: 34px;
                height: 6px;
                position: absolute;
                display: inline-block;
                top:58px;
                left: -60px;
                &:first-child{
                    transform: translate(14px,-14px) rotate(90deg);
                }
                &:nth-child(2){
                    transform: translate(-3px,-14px) rotate(45deg);
                    width: 40px;
                }
        }   
        }
    }
}


.inner{
    margin:0 64px;
    padding: 64px 0;
}
.myimg {
    width: auto;
    height: auto;
    & img{
        width: 100%;
        height: 100%;
    }
}
.fst-section,.snd-section{
    display: flex;
}
.footer{
    background-color: #000;
    color: #fff;
    height: 750px;
    padding: 150px 64px 0 64px;
    text-align: center;
    &-link{
        padding-top: 128px;
        li{
            display: inline-block;
            font-size: 24px;
            font-weight: 600;
            padding: 0 64px;
        }
    }
}
.btn{
	text-align:center;
    border-radius: 48px;
}
.ctt-btn{
    display: block;
    width: 138px;
    height: 62px;
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    line-height: 62px;
    font-size: 24px;
}
@media screen and (max-width:1280px){
    .m-btn{
        top: 24px;
        right: 24px;
        width: 92px;
        height: 46px;
        font-size: 18px;
        line-height: 8px;
    }
    .cle-btn{
        top: 24px;
        right: 24px;
        width: 92px;
        height: 46px;
        font-size: 18px;
        line-height: 8px;
    }
    .menu-list{
        font-size: 48px;
        & li span{
            width: 12px;
            height: 2.5px;
            top: 22px;
            left: -24px;
            &:first-child{
                transform: translate(5.5px,-6px) rotate(90deg);
            }
            &:nth-child(2){
                transform: translate(-1.5px,-6px) rotate(45deg);
                width: 14px;
            }
        }
    }
    .inner{
        margin:0 20px;
        padding: 40px 0;
        &:last-of-type{
            padding-bottom: 76px;
        }
    }
    .footer{
        padding: 48px 0 0 0;
        width: auto;
        height: 454px;
        &-link{
            padding-top: 30px;
            & li{
                margin: 16px;
                padding: 0;
                display: flex;
                flex-direction: column;
                &:last-child{
                    margin-bottom: 0;
                }
    
            }
        }
    }
    .ctt-btn{
        font-size: 12px;
        width: 77px;
        height: 34px;
        line-height: 36px;
    }
}