#contact{
  .contact{
    display: flex;
    &-img img{
        width: 50vw;
    }
    &-inner{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    &-title{
        font-size: 128px;
        font-weight: 600;
    }
  }
  .wpcf7-form-control-wrap{
    position: static;
  }
  .wpcf7-text,.wpcf7-textarea{
    width: 100%;
    padding: 24px 30px;
    background-color: #E4E1DA;
    font-size: 18px;
    font-weight: 600;
    &::placeholder{
        color: #1e1e21;
    }
  }
  

  textarea{
    resize: none;
  }

  .send-btn,.wpcf7-submit{
    width: 100%;
    height: 62px;
    color: #fff;
    line-height: 62px;
    font-size: 24px;
    background-color: #1e1e21;
  }
  .wpcf7-submit{
    text-align:center;
    border-radius: 48px;
    margin-top: 16px;

  }
    @media screen and (max-width:768px) {
        .contact{
            flex-direction: column;
            &-img img{
                width: 100%;
            }
            &-title{
                font-size: 80px;
                line-height: 1.1;
                letter-spacing: -4px;
                padding-bottom: 87px;
            }
        }
        .myname-en{
            margin-bottom: 87px;
        }
        textarea{
            height: 213px;
        }
    }    
}
