#index{
    .top-inner{
        margin: 64px 64px 48px 64px;
    }
    .myname-en{
        margin-bottom: 32px;
    }
    .inner{
        border-bottom:2px solid #000;
        &:last-of-type{
            border-bottom: none;
        }
    }
    .self-introduction-li{
        width:70%;
        padding-right: 64px;
        border-right:2px solid #000;
    }
    .my-data{
        padding-left: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-sns{
            display: flex;
            & li{
                margin-right: 16px;
                &:last-child{
                    margin-right: 0;
                }
            }
            &-twi,&-ins,&-ytb{
                display: flex;
                width: 48px;
                height: 48px;
                background-color: #000;
                border-radius: 100%;
                align-items: center;
                & img{
                    width: 40%;
                    margin: 0 auto;
                }
            }
        }
    }

    .Ican-li{
        width: 30%;
        border-right: 2px solid #000;
        padding-right: 64px;
    }
    .design-box{
        width: 70%;
    }
    .design-list{
        margin-left: 64px;
        display:flex;
        & li{
            width:100%;
            &:first-child{
                border-right: 2px solid #000;
                padding-right: 64px;
            }
            &:last-child{
                padding-left: 64px;
            }
        }
        &-1{
            border-bottom:2px solid #000;
            padding-bottom: 64px;
        }
        &-2{
            padding-top: 64px;
        }
    }


    @media screen and (max-width:1280px){
        .top-inner{
            margin:98px 13px 10px 13px;
        }
        .myname-en{
            font-size: 80px;
            line-height: 1.1;
        }
        .inner{
            border-bottom: 1px solid #000;
        }
        .fst-section{
            flex-direction: column-reverse;
        }
        .self-introduction-li{
            width:auto;
            padding-right: 0;
            border-right:none;
        }
        .my-data{
            padding-left: 0;
            display: block;
            height: 90px;
            margin-bottom: 40px;
            &-li{
                padding-left: 0;
            }
        }
        .snd-section{
            flex-direction: column;
        }
        .Ican-li{
            width: auto;
            border-right: none;
            padding-right: 0;
            padding-bottom: 12px;
        }
        .design-box{
            width:auto;
        }
        .design-list{
            margin-left: 0;
            flex-direction: column;
            & li{
                padding-top: 31px;
                padding-bottom: 27px;   
                border-bottom: 1px solid #000;
                &:first-child{
                    border-right: none;
                    padding-right: 0;
                }
                &:last-child{
                    padding-left: 0;
                    border-bottom: none;
                }
            }
            &-1{
                border-bottom:1px solid #000;
                padding-bottom: 0;
            }
            &-2{
                padding-top: 0;
            }
        }

    }
}